rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function autenticato() {
      return request.auth != null;
    }

    match /prodotti/{prodottoId} {
      allow read, write: if autenticato();
    }

    match /carrelli/{utenteId} {
      allow read, write: if autenticato() && request.auth.uid == utenteId;
    }

    match /ordini/{ordineId} {
      allow create: if autenticato() && request.resource.data.uid == request.auth.uid;
      allow read: if autenticato() && resource.data.uid == request.auth.uid;
      allow update, delete: if false;
    }

  }
}
